<div class="page-header">
	<h1>Flickr Public Feed</h1>
</div>
{{#if tags}}<p>Tags: {{tags}}</p>{{/if}}
 
{{#if collection}}
	<ul class="media-list">
	{{#each collection}}
		<li class="media">
			<a class="pull-left open-photo" href="#{{@index}}"><img src="{{media.m}}" class="media-object img-rounded"></a>
			<div class="media-body">
				<h2 class="media-heading"><a href="#{{@index}}" class="open-photo">{{title}}</a></h2>
				
				<ul class="properties">
					<li>
						<a href="http://www.flickr.com/photos/{{author_id}}">{{authorName author}}</a>
					</li>
					<li class="published">
						<time datetime="{{published}}">{{dateformat published}}</time></span>
					</li>
					<li>
						<a href="{{link}}">View on Flickr</a>
					</li>
				</ul>
			</div>
		</li>
	{{/each}}
	</ul>
{{else}}
	<p>Loading...</p>
{{/if}}
